
body{
  background-color: #121213;
}

h1{
  font-family: italic;
  color : white;
  
}

.divider{
  height: 3px;
  width: 40%;
  background-color: grey;
  margin: 0 auto;
  border-radius: 20%;
}

header{
  width: 100%;
  display: block;
}

header h1{
  text-align: center;
}

.info {
    visibility: hidden;
    display: inline-block;
    animation: spin .5s infinite ease;
    width: 100%;
    text-align: center;
    margin-top: 5vh;
    font-size: 80px;
}
  
@keyframes spin {
    
  from {  /*from here can be removed! */
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}

.letters{
  max-width: 400px;
  display: grid;
  margin: 3vh auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 13px;
  column-gap: 5px;
}



.show {
  visibility: visible;
}

.letter{
  width: 75px;
  height: 75px;
  border: 2px solid gray;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 360%;
  color: white;
  font-family: monospace
}

/**/

.clavier{
  width: 100%;
  text-align: center;
  margin: 10vh auto;
}

.column-1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-3{
  display: flex;
  justify-content: center;
  align-items: center;
}

.alpha{
  max-width: 350px;
  width: 50px;
  height: 60px;
  margin: 5px 2px;
  font-family: "Arial";
  font-size: 1.25em;
  color: white;
  background-color: #818384;
  border: 1px solid #121213;
  border-radius: 20%;
  
}

.alpha:active{
  background-color: #6c6969;
}

#i{
  display: flex;
  justify-content: center;
  align-items: center; 
} 

.large{
  width: 95px;
  font-size: .9em;
  border-radius: 10%;
}


.correct {
  background-color: #538d4e;
  border: 1px solid #538d4e;
}

.close{
  background-color: #b59f3b;

}

.wrong{
  background-color: #3a3a3c;
}

